body{
    background-color: rgb(218, 226, 233);
    font-family: 'Roboto', sans-serif;
}

h1{
    text-align: center;
}

main{
    margin: 3rem auto;
    border: 1px solid black;
    width: 30rem;
    padding: 1rem;
}